
<div id="<%= dom_id pin %>" class="panel panel-default">
  <strong>Description:</strong>
  <h3><%= pin.description %></h3>
  <% if pin.user == current_user %> <%= link_to 'Show', pin %> <% end %>
</div>
