
<div id="<%= dom_id pin %>">

  <div class="panel panel-default">
    <div class="panel-heading"><strong>Description:</strong></div>
    <div class="panel-body">
      <div class="panel-footer">
        <h2><p><%= pin.description %></p></h2>
        <%= link_to "Show this pin", pin %>
      </div>  
    </div>    
  </div>

</div>
