
<div id="<%= dom_id pin %>">

  <div class="panel panel-default">

    <div class="panel-heading">
      <strong>Description:</strong>
    </div>
    <div class="panel-body">
      <p>  
      <div class="panel-footer">
        <%= pin.description %>
      </div>
      </p>
      <%= link_to "Show this pin", pin %>
    </div>    
  </div>
</div>
