<% content_for :title, "Editing pin" %>

<div class="panel panel-default">
  <div class="panel-heading"><h1>Editing pin</h1></div>
    <div class="panel-body">
      <%= render "form", pin: @pin %>
    </div>
    <div class="panel-footer">
    
  </div>
</div>

