<p style="color: green"><%= notice %></p> 
<% content_for :title, "Pins" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pins</h3>
  </div>
  <div class="panel-body">
    <div id="pins">
      <% @pins.each do |pin| %>
        <%= render pin %>
      <% end %>
    </div>
  </div>

  

      
      
  
  
  

</div>
