/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 
 /*
 *testing bootstrap and customizers
 $jumbotron-bg: #0041a0;
 $navbar-default-gb: #014421;
 $body-bg: #fa9fb9;

* the logout button pushes to the top side of the navbar
*resetting 
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
li button {
    margin: 0;
    border: none;
    background: #0078d4;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
*And Aligning, this didn't work on the button
ul {
    display: flex;
    align-items: center;
    gap: 16px;
}
li {
    display: flex;
    align-items: center;
}
*/
/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";